<footer>
    <div class="container">
        <p class="copyright">© Onatrix. All Rights Reserved. </p>
        <p class="credits">Credits to <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a></p>
    </div>
</footer>
