<header>


    <section class="topbar">
        <div class="container">
            <div class="address">Klarabergsviadukten 90, 111 64 Stockholm</div>
            <div class="socialmedia">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </section>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="/">
                <img src="images/Brand.svg">
            </a>
            <nav>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/services">Services</a>
                <a class="nav-link" href="/projects">Projects</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        
        </div>


    </div>




</header>