

@{
	Layout = null;
	
	
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://kit.fontawesome.com/520c9ab77b.js" crossorigin="anonymous"></script>
	<title>Onatrix - Finance solutions for you</title>
</head>
<body>
	
		
		
	<partial name="/Views/Partials/Static/header.cshtml" />
		
	@RenderBody()

	<partial name="/Views/Partials/Static/Footer.cshtml" />
		
		
		
		
           
	
		


	<script src="/scripts/main.js"></script>

</body>
</html>